.bg-image-warm{
    background-image: url("./assets/summer.jpg");
    background-size: cover;
    transition: 0.4s ease-in-out;
}

.bg-image-cold{
    background-image: url("./assets/winter.jpg");
    background-size: cover;
    transition: 0.4s ease-in-out;
}

.overlay{
    background-image: linear-gradient(to top , rgba(0,0,0,0.7) , rgba(0,0,0,0.2));
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
}

input[type="text"]{
    box-shadow: 0 0.3vw rgba(0,0,0,0.3);
    transition: 0.4s ease-in-out;
}

.glassatile{
    background-color: rgba(0,0,0,0.2);
    margin-left: 2vw;
    margin-right: 2vw;
}

@media screen and (max-width:768px) {
    input[type="text"]{
        box-shadow: 0 0.8vw rgba(0,0,0,0.3);
    }
}